<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.felix.testandroidstyle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".shape.ShapeActivity" />
        <activity android:name=".shape.RectangleActivity" />
        <activity android:name=".shape.LineActivity" />
        <activity android:name=".shape.OvalActivity" />
        <activity android:name=".shape.RingActivity" />
        <activity android:name=".shape.SelectorActivity" />
        <activity android:name=".shape.LayerListActivity" />
        <activity android:name=".drawables.DrawablesActivity" />
        <activity android:name=".drawables.BitmapDrawableActivity" />
        <activity android:name=".drawables.TintActivity" />
        <activity android:name=".drawables.NinePatchActivity" />
        <activity android:name=".drawables.InsertActivity" />
        <activity android:name=".drawables.ClipActivity" />
        <activity android:name=".drawables.ScaleActivity" />
        <activity android:name=".drawables.RotateActivity" />
        <activity android:name=".drawables.AnimationListActivity" />
        <activity android:name=".drawables.LayerListActivity" />
        <activity android:name=".drawables.LevelListActivity" />
        <activity android:name=".drawables.AnimatedRoteteActivity" />
        <activity android:name=".drawables.AnimatedSelectorActivity" />
        <activity android:name=".drawables.VectorDrawableActivity" />
        <activity android:name=".drawables.StarVectorDrawableActivity" />
        <activity android:name=".animator.AnimatorActivity" />
        <activity android:name=".animator.ButtonAnimatorActivity" />
        <activity android:name=".animator.ValueAnimatorAcitvity" />
        <activity android:name=".animator.PropertyValuesHolderActivity" />
        <activity android:name=".animator.EvaluatorActivity" />
        <activity android:name=".animator.ViewPropertyAnimatorActivity" />
        <activity android:name=".animator.KeyFrameActivity" />
        <activity android:name=".animator.LayoutTransitionActivity" />
        <activity android:name=".animator.CircularRevealActivity" />
        <activity
            android:name=".animator.RippleActivity"
            android:theme="@style/AppTheme.Ripple" />
        <activity
            android:name=".transition.TransitionActivity"
            android:theme="@style/AppTheme.Transition" />
        <activity
            android:name=".transition.TransitionTargetActivity"
            android:theme="@style/AppTheme.Transition" />
        <activity
            android:name=".transition.TransitionSharedActivity"
            android:theme="@style/AppTheme.Transition" />
        <activity
            android:name=".transition.TransitionManagerActivity"
            android:theme="@style/AppTheme.Transition" />
    </application>

</manifest>
